fastapi
uvicorn
pydantic
requests
firebase-admin
yfinance
pandas
numpy
beautifulsoup4
tabulate
apscheduler
python-dotenv
humanize
websockets
opencv-python
mediapipe
SpeechRecognition
pyttsx3
pyautogui
comtypes
pycaw
