# Core API Framework
fastapi
uvicorn
pydantic
python-multipart
uvicorn
gunicorn

# Data Handling & Analysis
pandas
numpy
yfinance
pytz
lxml
requests
websockets

# Visualization & Formatting
matplotlib
tabulate

# Trading & External Services
firebase-admin
robin_stocks
pyotp
tradingview-screener